.navbar { 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; 
    background: #F2F2F2;
    border-bottom: 1px solid #ddd;
}
.logo-text {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo {
    width: 50px; 
    height: auto;
    margin-right: 0px;
}
.text {
    font-size: 1.5rem;
    color: #ec7272;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar .nav-links { 
    list-style: none; 
    display: flex; 
}
.navbar .nav-links li {
    margin: 0 1rem; 
} 
.navbar .aboutus-btn{
    padding: 0.5rem 1rem;
    background: #ec7272; 
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}
.navbar .nav-links a {
    text-decoration: none;
    color: #2c2c2c; 
    font-size: 1rem; 
}
.navbar .nav-links a:hover{
    color :#ec7272;
}
.navbar .aboutus-btn:hover {
    background:  #f0f2f0;
} 
body{
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container{
    width: 80%;
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
}
h1, h2 ,h3 {
    text-align: center;
    color: #E9BCB9;
    text-decoration: underline ;
}
p {
    margin-bottom: 20px;
}
.about-section {
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
@media (max-width: 1250px) {
}
